
<div class="meeting-table">
  <mat-card>

    <mat-table [dataSource]="meetings$ | async" class="animate">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Meeting Name</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.priority}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="creator">
        <mat-header-cell *matHeaderCellDef>Creator</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.creator}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>
