  <div class="main-container" fxLayout="row wrap" fxLayoutGap="25px grid" >
    <div class="active-projects" fxLayout="column" >
      <app-active-projects></app-active-projects>
    </div>

    <div class="widget-container" fxLayout="column" >
      <app-team-activity></app-team-activity>
    </div>

    <div class="widget-container" fxLayout="column" >
      <app-trending-documents></app-trending-documents>
    </div>

    <div class="widget-container" fxLayout="column" >
      <app-project-feed></app-project-feed>
    </div>

    <div class="widget-container" fxLayout="column" >
      <mrl-my-calendar></mrl-my-calendar>
    </div>

    <div class="widget-container" fxLayout="column" >
      <app-recent-files></app-recent-files>
    </div>

    <div class="widget-container" fxLayout="column" >
      <app-support></app-support>
    </div>

    <div class="widget-container" fxLayout="column" >
      <app-active-tasks></app-active-tasks>
    </div>

    <div class="widget-container" fxLayout="column" >
      <app-industry-news></app-industry-news>
    </div>
    <div class="widget-container" fxLayout="column" >
      <p>Add custom widgets, pages, rename page, delete page, save with slide toggle edit mode</p>
    </div>
</div>
