<div class="context-header" fxFill fxLayout="row wrap" fxLayoutAlign="space-between end">
  <div class="header-title" fxLayout="column" fxFlex="20">
      <h3>PROJECT INFORMATION</h3>
  </div>

</div>
<mat-divider></mat-divider>

<div class="main-container" fxLayout="row wrap">

  <mat-list>
    <mat-list-item>Client</mat-list-item>
    <mat-list-item>Client Contact</mat-list-item>
    <mat-list-item>Project Name</mat-list-item>
    <mat-list-item>Zip</mat-list-item>
    <mat-list-item>Sales Tax</mat-list-item>
    <mat-list-item>Project Description</mat-list-item>

    <mat-list-item>LEED Targeting</mat-list-item>
    <mat-list-item>BIM Participation</mat-list-item>

    <mat-list-item>Architectural Index</mat-list-item>
    <mat-list-item>Technology Index</mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>Project Delivery Method</mat-list-item>
    <mat-list-item>Interior : Exterior Wall Ratio</mat-list-item>
    <mat-list-item>Substitutions Permitted?</mat-list-item>

    <mat-list-item>Parking Provided by Owner?</mat-list-item>
    <mat-list-item>Markup % (by system)</mat-list-item>
    <mat-list-item>Overtime % (by system estimate)</mat-list-item>
    <mat-list-item>Swing Shift % (By system estimate)</mat-list-item>

    <mat-list-item>Subsystem Risk %</mat-list-item>
  </mat-list>

  <mat-list> <h4>Logistics</h4>
    <mat-list-item>Logistics</mat-list-item>
    <mat-list-item>Laydown Space Available</mat-list-item>
    <mat-list-item>Project Name</mat-list-item>
    <mat-list-item>Zip</mat-list-item>
    <mat-list-item>Sales Tax</mat-list-item>
    <mat-list-item>Project Description</mat-list-item>

    <mat-list-item>LEED Targeting</mat-list-item>
    <mat-list-item>BIM Participation</mat-list-item>

    <mat-list-item>Architectural Index</mat-list-item>
    <mat-list-item>Technology Index</mat-list-item>
  </mat-list>
  <mat-card>

    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Project Name</mat-label>
          <input matInput placeholder="Ex. Pizza" value="SFO Terminal 3 West">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Category</mat-label>
          <textarea matInput placeholder="Airport / Terminal"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Design Stage</mat-label>
          <textarea matInput placeholder="50%"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Design Progression</mat-label>
          <textarea matInput placeholder="Design Development"></textarea>
        </mat-form-field>

      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions>
  </mat-card>


</div>
