<div class="module-container">

  <app-header></app-header>

  <div class="main-container" fxLayout="row wrap">
    <div class="tab-group-container" fxLayout="row wrap" fxLayoutAlign="start start">
      <mat-tab-group headerPosition="below">
        <mat-tab label="Setup">
          <div class="tab-container" fxFlex>
            <app-setup></app-setup>
          </div>
        </mat-tab>

        <mat-tab label="Manage">
          <div class="tab-container" fxFlex>
            <app-manage-estimate></app-manage-estimate>
          </div>
        </mat-tab>

        <mat-tab label="Takeoff">
          <div class="tab-container" fxFlex>
            <app-takeoff></app-takeoff>
          </div>
        </mat-tab>

        <mat-tab label="Extension">
          <div class="tab-container" fxFlex>
            <app-extension></app-extension>
          </div>
        </mat-tab>

        <mat-tab label="Direct Labor">
          <div class="tab-container" fxFlex>
            <app-direct-labor></app-direct-labor>
          </div>
        </mat-tab>

        <mat-tab label="Incidental Labor">
          <div class="tab-container" fxFlex>
            <app-incidental-labor></app-incidental-labor>
          </div>
        </mat-tab>

        <mat-tab label="Labor Factoring">
          <div class="tab-container" fxFlex>
            <app-labor-factor></app-labor-factor>
          </div>
        </mat-tab>

        <mat-tab label="Labor Escalation">
          <div class="tab-container" fxFlex>
            <app-labor-escalation></app-labor-escalation>
          </div>
        </mat-tab>

        <mat-tab label="Indirect Labor">
          <div class="tab-container" fxFlex>
            <app-indirect-labor></app-indirect-labor>
          </div>
        </mat-tab>

        <mat-tab label="Subcontractors">
          <div class="tab-container" fxFlex>
            <app-subcontractors></app-subcontractors>
          </div>
        </mat-tab>

        <mat-tab label="Suppliers">
          <div class="tab-container" fxFlex>
            <app-quoted-materials></app-quoted-materials>
          </div>
        </mat-tab>

        <mat-tab label="General Expenses">
          <div class="tab-container" fxFlex>
            <app-general-expenses></app-general-expenses>
          </div>
        </mat-tab>

        <mat-tab label="Equipment">
          <div class="tab-container" fxFlex>
            <app-equipment></app-equipment>
          </div>
        </mat-tab>

        <mat-tab label="Summary">
          <div class="tab-container" fxFlex>
            <app-final-pricing></app-final-pricing>
          </div>
        </mat-tab>

        <mat-tab label="Reporting">
          <div class="tab-container" fxFlex>
            <app-analytics></app-analytics>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
    <div class="totals-footer" fxLayout="row" fxLayoutAlign="space-evenly center">
      <app-totals-footer></app-totals-footer>
    </div>
  </div>


</div>
