<div class="context-header" fxFill fxLayout="row wrap" fxLayoutAlign="space-between end">
  <div class="header-title" fxLayout="column" fxFlex="20">
      <h3>ESTIMATE INFORMATION</h3>
  </div>

</div>
<mat-divider></mat-divider>
<div class="main-container" fxLayout="row wrap">
  <mat-card>

    <mat-card-content>

      <mat-list>
        <mat-list-item>Estimate Number</mat-list-item>
        <mat-list-item>Estimator(s)</mat-list-item>
        <mat-list-item>Classifications</mat-list-item>
      </mat-list>


    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions>
  </mat-card>


</div>
