<div class="totals-footer" fxLayout="row " fxLayoutAlign="space-evenly center">
  <div class="totals-item" fxLayout="row" fxLayoutAlign="center center" >
    <div class="totals-label" fxLayout="column" fxLayoutAlign="center center">
      <h4>Total Price:&nbsp;</h4>
    </div>
    <div class="totals-value" fxLayout="column" fxLayoutAlign="center center">
      <p>$14,877,580</p>
    </div>
  </div>

  <div class="totals-item" fxLayout="row" fxLayoutAlign="center center" fxShow="true" fxHide.lt-sm="true">
    <div class="totals-label" fxLayout="column" fxLayoutAlign="center center">
      <h4>Total Material:&nbsp;</h4>
    </div>
    <div class="totals-value" fxLayout="column" fxLayoutAlign="center center">
      <p>$5,877,580</p>
    </div>
  </div>

  <div class="totals-item" fxLayout="row" fxLayoutAlign="center center" fxShow="true" fxHide.lt-sm="true">
    <div class="totals-label" fxLayout="column" fxLayoutAlign="center center">
      <h4>Total Labor:&nbsp;</h4>
    </div>
    <div class="totals-value" fxLayout="column" fxLayoutAlign="center center">
      <p>$8,877,580</p>
    </div>
  </div>

  <div class="totals-item" fxLayout="row" fxLayoutAlign="center center">
    <div class="totals-label" fxLayout="column" fxLayoutAlign="center center">
      <h4>Labor Hours:&nbsp;</h4>
    </div>
    <div class="totals-value" fxLayout="column" fxLayoutAlign="center center">
      <p>77,580</p>
    </div>
  </div>
</div>
