<div>
  <a mat-button [matMenuTriggerFor]="racing">RACING</a>
  <a mat-button [matMenuTriggerFor]="leagues">LEAGUES</a>
  <a mat-button [matMenuTriggerFor]="support">SUPPORT</a>
</div>

<mat-menu #racing="matMenu">
  <button mat-menu-item>
    <mat-icon>trending_up</mat-icon>
    <span>RACE SCHEDULE</span>
  </button>
  <button mat-menu-item>
    <mat-icon>update</mat-icon>
    <span>RESULTS</span>
  </button>
</mat-menu>

<mat-menu #leagues="matMenu">
  <button mat-menu-item>
    <mat-icon>trending_up</mat-icon>
    <span>MIDTOWN MARBLES</span>
  </button>
  <button mat-menu-item>
    <mat-icon>update</mat-icon>
    <span>JELLE'S MARBLE RUNS</span>
  </button>
</mat-menu>

<mat-menu #support="matMenu">
  <button mat-menu-item>
    <mat-icon>trending_up</mat-icon>
    <span>Popular</span>
  </button>
  <button mat-menu-item>
    <mat-icon>update</mat-icon>
    <span>Recent</span>
  </button>
</mat-menu>
