
<div class="main-container" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center start">
  <div class="stepper-container" fxLayout="row wrap">
    <mat-card>
      <mat-card-content>
          <mat-horizontal-stepper [linear]="isLinear" #stepper>


              <mat-step [stepControl]="firstFormGroup" fxLayout="column">
                <div>
                  <ng-template matStepLabel>Estimate Information</ng-template>
                  <h4>Estimate Information</h4>
                  Estimate Name, Estimator(s), Project Number, Database, Category, Type/Tier, Client, Location
                </div>
              </mat-step>

              <mat-step [stepControl]="secondFormGroup">
                <div>
                  <ng-template matStepLabel>Project Information</ng-template>
                  <h4>Project Information</h4>
                </div>
              </mat-step>

              <mat-step>
                <div>
                  <ng-template matStepLabel>Work Breakdown</ng-template>
                  <p>System Information</p>

                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>

          </mat-horizontal-stepper>


      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Ok</button>
        <button  mat-menu-item routerLink="/auth/modules/estimating">Back</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
