<div class="page-container" fxLayout="column" fxLayoutAlign="start stretch">
  <!-- Top Navigation Bar -->
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="navbar-container" fxLayout="row" fxLayoutAlign="space-between center" >
      <div class="brand-container" fxLayout="row" fxLayoutAlign="space-between center" >
          <span routerLink="dashboard" routerLinkActive="active" class="pointer">MARBETTO</span>
      </div>
      <div>
        <mrl-main-menu></mrl-main-menu>
      </div>
      <app-icon-menu></app-icon-menu>
    </div>
  </mat-toolbar>

    <!-- Main Container -->
    <router-outlet></router-outlet>

    <!-- Footer -->

</div>
