<div class="context-header" fxFill fxLayout="row wrap" fxLayoutAlign="space-between end">
  <div class="header-title" fxLayout="column" fxFlex="20">
      <h3>ESTIMATE SETUP</h3>
  </div>

</div>
<mat-divider></mat-divider>

<mat-sidenav-container class="setup-navigation" style="height: 100vh;">
  <mat-sidenav mode="side" opened >

    <div class="setup-container">

      <mat-card>
        <mat-card-content>
          <nav>
            <h4 routerLink="/auth/modules/estimating/estimates/estimate-info" routerLinkActive="active" class="pointer">Estimate Information</h4> <br>
            <h4 routerLink="/auth/modules/estimating/estimates/project-info" routerLinkActive="active" class="pointer">Project Information</h4> <br>
            <h4 routerLink="/auth/modules//estimating/estimates/wbs" routerLinkActive="active" class="pointer">Work Breakdown</h4> <br>
            <h4 routerLink="/auth/modules/estimating/estimates/structure" routerLinkActive="active" class="pointer">Structural Properties</h4> <br>
            <h4 routerLink="/auth/modules//estimating/estimates/schedule" routerLinkActive="active" class="pointer">Schedule</h4> <br>
            <h4 routerLink="/auth/modules//estimating/estimates/systems" routerLinkActive="active" class="pointer">Systems</h4> <br>
            <h4 routerLink="/auth/modules/estimating/estimates/documentation" routerLinkActive="active" class="pointer">Documentation</h4> <br>
            <h4 routerLink="/auth/modules/estimating/estimates/qualficiations" routerLinkActive="active" class="pointer">Qualifications</h4><br>
            <h4 routerLink="/auth/modules/estimating/estimates/contracts" routerLinkActive="active" class="pointer">Contracts</h4>

          </nav>
        </mat-card-content>

      </mat-card>
  </div>
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>






