<div class="main-container"  fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="start start"  >

  <app-active-estimates></app-active-estimates>

  <app-estimate-calendar></app-estimate-calendar>

  <app-estimate-progress></app-estimate-progress>

  <app-cost-sf></app-cost-sf>

  <app-cost-system></app-cost-system>

  <app-database></app-database>

  <app-project-templates></app-project-templates>

  <app-report-styles></app-report-styles>

  <app-team-management></app-team-management>

</div>
