<div class="main-container" fxLayout="row wrap" fxLayoutGap="25px grid" fxLayoutAlign="start start">



  <div class="widget-container" fxLayout="column" >
    <mat-card>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-table  [dataSource]="projects" matSort class="animate">
        <ng-container matColumnDef="projectName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{ data.projectName }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{ data.createdDate }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastModified">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{ data.lastModified }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="isActive">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{ data.isActive }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" >
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="accent" >
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
    </mat-table>

    <mat-paginator [length]="1" [pageSize]="1">
    </mat-paginator>
    </mat-card>
  </div>

  <div class="widget-container" fxLayout="column" >
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lead Generation by Source</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color='primary'>New Lead</button>
          <button mat-raised-button color='accent'>Manage Leads</button>
        </mat-card-actions>
      </mat-card>
  </div>

  <div class="widget-container" fxLayout="column" >
      <mat-card>
        <mat-card-header>
          <mat-card-title>Key Performance Indicators</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ok</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
