  
  :host {
    display: block;
    margin: 24px;
  }

  .header-title {
    min-width: 40vh;
  }

  .mat-form-field {
    width: 30vh;
    margin: 15px
  }

  .main-container {
    display: flex;
    margin: 0px;
  }