<div class="context-header" fxFill fxLayout="row wrap" fxLayoutAlign="space-between end">
  <div class="header-title" fxLayout="column" fxFlex="20">
      <h3>PROJECT SCHEDULE</h3>
  </div>

</div>
<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>Design Start Date</mat-list-item>
  <mat-list-item>Design Completion Date</mat-list-item>
  <mat-list-item>Construction Start Date</mat-list-item>
  <mat-list-item>Construction Finish Date</mat-list-item>
  <mat-list-item>Duration (Weeks)</mat-list-item>
  <mat-list-item>Schedule condition (moderate, accellerated, etc)</mat-list-item>
</mat-list>
