
  <mat-list>
      <mat-list>
        <h3 mat-subheader>Electrical Calculators</h3>
        <mat-list-item>
            <h4 mat-line>Conduit Fill Calculator</h4>
        </mat-list-item>

        <mat-list-item>
            <h4 mat-line>Voltage Drop</h4>
        </mat-list-item>

        <mat-list-item>
            <h4 mat-line>Generator Sizing</h4>
        </mat-list-item>
  </mat-list>

  <mat-list>
    <h3 mat-subheader>Mechanical Calculators</h3>
    <mat-list-item>Duct Sizing</mat-list-item>
    <mat-list-item>Voltage Drop</mat-list-item>
    <mat-list-item>Generator Sizing</mat-list-item>
</mat-list>
