<mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table  [dataSource]="activeEstimates" matSort class="animate">
    <ng-container matColumnDef="project">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Project </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.project }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="designProgress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Design Progress </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.designProgress }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="designPhase">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Design Phase </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.designPhase }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Client </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.client }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.type }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastSaved">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Saved </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.lastSaved }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.category }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.status }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="laborHours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Labor Hours </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.laborHours }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total $ </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.totalCost }} </mat-cell>
    </ng-container>



    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" >
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>


      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
  </mat-table>

  <mat-paginator [length]="1" [pageSize]="1">
  </mat-paginator>
</mat-card>
