  
  :host {
    display: block;
    margin: 24px;
  }

  .header-title {
    min-width: 40vh;
  }

  .selector-container {
    margin: 10px;
  }

  .mat-form-field  {
    margin: 10px;
    font-size: 12px;
    width: 50vw;
    min-width: max-content;
    max-width: 300px;
  }

  .main-container {
    display: flex;
    margin: 10px;
  }

  .project-info-container {
    min-width: fit-content;
    width: 25vh;
  }

  .graph-container {
    display: flex;
    min-width: 750px;
  }